/*! Friday, January 3rd, 2014, 08:07 */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Browse happy
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Colors
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Screen sizes (used in media queries).
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Time durations.
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Measures
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Global settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Mixins
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § @font-face
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Image replacement
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Spriteless image replacement
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Focus
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
 § Default button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 9, ../../src/scss/components/_button.scss */
.button, .button--s, .button--l, .button--disabled, .button--thinking, .button--purple, .button--red, .button--blue, .button--green, .button--yellow, .button--subtle,
.button--m {
  border: 0;
  background-color: #111111;
  color: #fff;
  font-family: "hill regular", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  display: inline-block;
  margin: 0 0.75em 0.75em 0;
  padding: 0.6em 1em;
  text-align: center;
  border-radius: 2px;
  position: relative;
  vertical-align: top;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 26, ../../src/scss/components/_button.scss */
.button:hover, .button--s:hover, .button--l:hover, .button--disabled:hover, .button--thinking:hover, .button--purple:hover, .button--red:hover, .button--blue:hover, .button--green:hover, .button--yellow:hover, .button--subtle:hover,
.button--m:hover {
  color: #fff;
  background: #39393a;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
/* line 35, ../../src/scss/components/_button.scss */
.button:focus, .button--s:focus, .button--l:focus, .button--disabled:focus, .button--thinking:focus, .button--purple:focus, .button--red:focus, .button--blue:focus, .button--green:focus, .button--yellow:focus, .button--subtle:focus,
.button--m:focus {
  color: #fff;
  background: #39393a;
}
@media (min-width: 1000px) {
  /* line 9, ../../src/scss/components/_button.scss */
  .button, .button--s, .button--l, .button--disabled, .button--thinking, .button--purple, .button--red, .button--blue, .button--green, .button--yellow, .button--subtle,
  .button--m {
    padding: 0.35em 0.75em;
  }
}

/*
 § Small button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 53, ../../src/scss/components/_button.scss */
.button--s {
  font-size: 1em;
}

/*
 § Large button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 61, ../../src/scss/components/_button.scss */
.button--l {
  font-size: 3em;
  font-family: "hill bold", sans-serif;
  padding: 0.4em 0.7em;
}

/*
 § Disabled button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 72, ../../src/scss/components/_button.scss */
.button--disabled, .button--thinking {
  background-color: #a2a2a5;
  color: #5f5f60;
}
/* line 77, ../../src/scss/components/_button.scss */
.button--disabled:hover, .button--thinking:hover {
  background-color: #a2a2a5;
  color: #5f5f60;
  cursor: not-allowed;
}

/*
 § Purple button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 87, ../../src/scss/components/_button.scss */
.button--purple {
  background-color: #5f66f2;
}
/* line 91, ../../src/scss/components/_button.scss */
.button--purple.button--subtle {
  color: #5f66f2;
  box-shadow: inset 0 0 0 1px #5f66f2;
}

/*
 § Red button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 100, ../../src/scss/components/_button.scss */
.button--red {
  background-color: #ea4766;
}
/* line 104, ../../src/scss/components/_button.scss */
.button--red.button--subtle {
  color: #ea4766;
  box-shadow: inset 0 0 0 1px #ea4766;
}

/*
 § Blue button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 113, ../../src/scss/components/_button.scss */
.button--blue {
  background-color: #0ea7e2;
}
/* line 117, ../../src/scss/components/_button.scss */
.button--blue.button--subtle {
  color: #0ea7e2;
  box-shadow: inset 0 0 0 1px #0ea7e2;
}

/*
 § Green button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 126, ../../src/scss/components/_button.scss */
.button--green {
  background-color: #27cc6e;
}
/* line 130, ../../src/scss/components/_button.scss */
.button--green.button--subtle {
  color: #27cc6e;
  box-shadow: inset 0 0 0 1px #27cc6e;
}

/*
 § Yellow button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 139, ../../src/scss/components/_button.scss */
.button--yellow {
  background-color: #ffe669;
  color: #111111;
}

/*
 § Subtle button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 148, ../../src/scss/components/_button.scss */
.button--subtle {
  background-color: white !important;
  color: #111111;
  box-shadow: inset 0 0 0 1px #111111;
}
/* line 154, ../../src/scss/components/_button.scss */
.button--subtle:hover {
  background-color: #ecedf2 !important;
  color: #111111;
  box-shadow: inset 0 0 0 1px #111111;
}
/* line 160, ../../src/scss/components/_button.scss */
.button--subtle:focus {
  background-color: #ecedf2 !important;
  color: #111111;
  box-shadow: inset 0 0 0 1px #111111;
}

/*
 § Thinking button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@-webkit-keyframes thinking {
  /* line 174, ../../src/scss/components/_button.scss */
  0% {
    background-position: 0 0;
  }

  /* line 175, ../../src/scss/components/_button.scss */
  100% {
    background-position: 40px 40px;
  }
}

@-moz-keyframes thinking {
  /* line 174, ../../src/scss/components/_button.scss */
  0% {
    background-position: 0 0;
  }

  /* line 175, ../../src/scss/components/_button.scss */
  100% {
    background-position: 40px 40px;
  }
}

@-o-keyframes thinking {
  /* line 174, ../../src/scss/components/_button.scss */
  0% {
    background-position: 0 0;
  }

  /* line 175, ../../src/scss/components/_button.scss */
  100% {
    background-position: 40px 40px;
  }
}

@keyframes thinking {
  /* line 174, ../../src/scss/components/_button.scss */
  0% {
    background-position: 0 0;
  }

  /* line 175, ../../src/scss/components/_button.scss */
  100% {
    background-position: 40px 40px;
  }
}

/* line 183, ../../src/scss/components/_button.scss */
.button--thinking, .button--thinking:hover {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-animation: thinking 1500ms linear infinite;
  -moz-animation: thinking 1500ms linear infinite;
  animation: thinking 1500ms linear infinite;
}

/* line 12, ../../src/scss/browsehappy.scss */
.browsehappy {
  padding-left: 15em !important;
}
/* line 16, ../../src/scss/browsehappy.scss */
.browsehappy .browsehappy-inner {
  border: 1px solid #ea4766;
  padding: 0.55em 0.75em 0.65em;
  margin-bottom: 2em;
}
