@CHARSET "ISO-8859-1";

#smk_teasers .highlight{
	background-color:#123456;
}

.search-choice span{	
	color: #ffffff;
}

a i{
  color: inherit;
}

a span{
  font-size: 0.8em;
  color: inherit;
}