@CHARSET "ISO-8859-1";

#search-filters {	
	width:200px;
	display: block;
    float: left;
}

#docs_smk_collection{
	display: block;
    float: left;
    margin: 15px;
    width: 500px;
}

.search-choice span{	
	color: #ffffff;
}

#smk_search_wrapper .main-header section, .main-footer, .section--main {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 200px;
    padding: 0;
}

a i{
  color: inherit;
}

a span{
  font-size: 0.8em;
  color: inherit;
}