<div>

<script id="detailTemplate" type="text/template">

{{#detail}}
<a class="back-button" href="#" style="opacity: 1;">Back</a>
{{#media}}
	<div id="media-container">
	  <div class="gallery">
	    <div class="gallery__main image_loading" src="{{image}}" title="{{title}}" alt="{{title}}" img_id="{{img_id}}"></div>
	
	    <!-- Copyright notice -->
		{{#copyright}}
	    <div class="gallery__copyright">&copy;&nbsp;{{copyright}}</div>
		{{/copyright}}
	
		<!-- thumbnails -->
		<div id="thumbnails"></div>  	  

	</div><!-- gallery -->
  </div><!-- #media-container -->
{{/media}}
	
{{#info}}
	<div id="info-container">
	
	  <!-- Sharing links -->
	  <div class="sharing--iconified">
	    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=INSERT_URL">Share on Facebook</a>
	    <a target="_blank" href="https://twitter.com/intent/tweet?text=INSERT_DESCRIPTION&amp;url=INSERT_URL&amp;via=INSERT_TWITTER_HANDLE">Tweet This</a>
	    <a target="_blank" href="https://plus.google.com/share?url=INSERT_URL">Plus on Google+</a>
	    <a target="_blank" href="http://pinterest.com/pin/create/button/?url=INSERT_URL&amp;description=INSERT_DESCRIPTION">Pin on Pinterest</a>
		<a target="_blank" onclick="window.print()">Print</a>
	  </div>
	
	  <!-- Heading -->
	  <h1 class="heading--m">{{{artist_data}}}<br><i>{{title}}</i>&nbsp;<span>{{artwork_date}}</span></h1>
	
	  <div class="cutoff">{{description}}</div>

	<!-- Data pairs (technique) -->
	  {{#technique}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/technique}}	


	  <!-- Data pairs (dimensions) -->
	  {{#dim}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>							
			{{#net}}	      		
				<div class="data-pair__value">{{net_label}}: {{heigth}}&nbsp;x&nbsp;{{width}}&nbsp;{{unit}}</div>
			{{/net}}
		  {{#brut}}
	      		<div class="data-pair__value">{{brut_label}}: {{heigth}}&nbsp;x&nbsp;{{width}}&nbsp;{{unit}}</div>
			{{/brut}}
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/dim}}	
	
	  <!-- Data pairs (acquisition) -->
	  {{#acq}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{method}}{{source}}{{date}}</div>		  
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/acq}}

	  <!-- Data pairs (inventar number) -->
	  {{#meta}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value type--code">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/meta}}

	  <!-- Data pairs (location) -->
	  {{#location}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/location}}
	  
	</div><!-- #info-container -->
{{/info}}	
{{/detail}}

</script>

</div>