<div>

<script id="detailTemplate" type="text/template">

{{#detail}}
<a class="back-button" href="#">Back</a>
{{#media}}
	<div id="media-container">
	  <div class="gallery">
	    <div class="gallery__main image_loading" src="{{image}}" title="{{title}}" alt="{{{alt}}}" img_id="{{img_id}}">
			<a href="{{image}}" alt="{{title}}"></a>
		</div>
	
	    <!-- Copyright notice -->
		{{#copyright}}
	    <div class="gallery__copyright">{{{copyright}}}</div>
		{{/copyright}}
	
		<!-- thumbnails -->
		<div id="thumbnails"></div>  	  

	</div><!-- gallery -->
  </div><!-- #media-container -->
{{/media}}
	
{{#info}}
	<div id="info-container">
	
	  <!-- Sharing links -->
	  <div class="sharing--iconified">
	    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{image}}">Share on Facebook</a>
	    <a target="_blank" href="https://twitter.com/intent/tweet?text=StatensMuseumForKunst - {{title}}&amp;url={{image}}&amp;via=StatensMuseum">Tweet This</a>
	    <a target="_blank" href="https://plus.google.com/share?url={{image}}">Plus on Google+</a>
	    <a target="_blank" href="http://pinterest.com/pin/create/button/?image_url={{image}}&amp;url={{image}}&amp;description=StatensMuseumForKunst - {{title}}">Pin on Pinterest</a>
		<a target="_blank" onclick="window.print()" class="print">Print</a>
	  </div>
	
	  <!-- Heading -->
	{{#artist}}
	  <h1 class="heading--m">{{{artist_data}}}</h1>
 	{{/artist}}
  
	  <h1 class="heading--m"><i>{{title}}</i>,&nbsp;<span>{{artwork_date}}</span></h1>
	
	  <div class="cutoff">{{description}}</div>

	<!-- Data pairs (technique) -->
	  {{#technique}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/technique}}	


	  <!-- Data pairs (dimensions) -->
	  {{#dim}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>											      		
				<div class="data-pair__value">{{heigth}}{{width}}{{depth}}&nbsp;{{unit}}</div>			
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/dim}}	
	
	  <!-- Data pairs (acquisition) -->
	  {{#acq}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{method}}{{source}}{{date}}</div>		  
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/acq}}

	<!-- Data pairs (provenance) -->
	  {{#proveniens}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{value}}</div>		  
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/proveniens}}

	  <!-- Data pairs (inventar number) -->
	  {{#meta}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value type--code">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/meta}}

	  <!-- Data pairs (location) -->
	  {{#location}}
	  <div class="data-pairs">
	    <div class="data-pair">
	      <div class="data-pair__key">{{key}}</div>
	      <div class="data-pair__value">{{value}}</div>
	    </div>	    
	  </div><!-- data-pairs -->
	  {{/location}}
	  
	</div><!-- #info-container -->
{{/info}}	
{{/detail}}

</script>

</div>