<div class="view">

	<div class="container">
		
		<div id="searchbox"></div>
		
		<section class="section--main" role="main">
			<div id="smk_detail"></div>
				 
			<div id="category"></div>
			<div id="viewpicker"></div>  
			<div id="search-filters">
				<div id="artist_name_ss" class="search-filter"></div>
				<div id="artist_natio" class="search-filter"></div>
				<div id="object_production_century_earliest" class="search-filter"></div>
				<div id="prod_technique" class="search-filter"></div>		
			</div>		  					      			  		   		   	  
			<div id="smk_teasers"></div>		
	   </section>
	
	</div>

</div>	