<div>
    <script id="teaserInitTemplate" type="text/template">	
		<div id="teaser-container-grid" class="full-width">	
        	<article class="teaser--grid"></article>			
		</div>
	 </script>
	 	
	 <script id="teaserArticleTemplate" type="text/template">	
		{{#artworks}}
        <article class="teaser--grid">
          <div class="teaser__wrapper">
            <div class="teaser__thumbnail image_loading" src="{{thumbnail}}" alt="{{title}}" img_id="{{img_id}}">
              	{{#is_artwork}} 
					<a href="{{url}}" alt="{{title}}" class="article_artwork"></a>
				{{/is_artwork}}
				{{#not_is_artwork}} 
					<a href="{{url}}" alt="{{title}}" class="article_link"></a>
				{{/not_is_artwork}} 
            </div>
            
            <div class="teaser__content">
              <ul class="teaser__category">
                {{#categories}}
                  <li>
                    <a href="{{url}}">{{name}}</a>
                  </li>
                {{/categories}}
              </ul>
              
              <h3 class="teaser__heading">
               	<!-- show an artwork -->
				{{#is_artwork}} 
					<a href="#" alt="{{title}}" class="article_artwork">{{{artist_data}}}<br>{{title}}&nbsp({{artwork_date}})</a> 
				{{/is_artwork}}
				
				<!-- not showing an artwork -->
				{{#not_is_artwork}} 
					<a href="{{url}}" alt="{{title}}" class="article_link">{{title}}</a> 
				{{/not_is_artwork}}
              </h3>

              <div class="teaser__description">
                {{description}}
              </div>

			  <!-- inv.num & location -->
              <ul class="teaser__meta">
                {{#meta}}
                  <li><span>{{key}}</span> {{value}}</li>
				  {{#is_artwork}}
				  	{{#location}}
						<li>{{{label}}}</li>
				  	{{/location}}
				  {{/is_artwork}}
                {{/meta}}
              </ul>							
			 

            </div><!-- teaser__content -->
          </div><!-- teaser__wrapper -->
        </article><!-- teaser -->      
      {{/artworks}}	 
	</script>	
</div>