<div>	
	 <script id="teaserGridTemplate" type="text/template">	
		{{#artworks}}
        <article class="teaser--grid">
          <div class="teaser__wrapper">
            <div class="teaser__thumbnail">
              <a href="{{url}}" alt="{{title}}">
                <img src="{{thumbnail}}" alt="{{title}}">
              </a>
            </div>
            
            <div class="teaser__content">
              <ul class="teaser__category">
                {{#categories}}
                  <li>
                    <a href="{{url}}">{{name}}</a>
                  </li>
                {{/categories}}
              </ul>
              
              <h3 class="teaser__heading">
                <a href="{{url}}" alt="{{title}}">{{title}}</a>
              </h3>

              <div class="teaser__description">
                {{description}}
              </div>

              <ul class="teaser__meta">
                {{#meta}}
                  <li><span>{{key}}</span> {{value}}</li>
                {{/meta}}
              </ul>
            </div><!-- teaser__content -->
          </div><!-- teaser__wrapper -->
        </article><!-- teaser -->      
      {{/artworks}}	 	
	</script>	
</div>