<li class="list-work">
  
  
  {{#url_bool}}
  <a href="#" class="smk_link">
  {{/url_bool}}
  
	   <!--with image -->
	  {{#img_data_bool}}
	  <div class="list-work-image image_loading" id="{{img_id}}">    
	    <a href="#" class="work-image"></a>    
	  </div>
	  {{/img_data_bool}}
	  
	  <!--without image -->
	  {{#non_img_data_bool}}
	  <div class="list-work-image image_default"></div>
	  {{/non_img_data_bool}}
	  
	  <div class="list-work-text">	    	            	    	    
		    <div class="artist">			    
			    <span class="artist-name">{{artist_name_s}}</span>
			    {{#artist_auth_bool}}
			    <span class="artist_auth">({{artist_auth}})</span>
			    {{/artist_auth_bool}}
			</div>    
		
		   
		    
		    <div class="title-and-date">
		    	  <span class="title-dk">{{title}} </span>
		    	  <span class="dates">{{artwork_date}}</span>
	    	</div>	    		    	
	    
	    	<div class="ref">{{ref_number}}</div>
	  </div>  
  
  {{#url_bool}}
  </a>
  {{/url_bool}}
			    
</li>



