
    <div id="header">      
      <div class="text">	      
	      <h1>Browse SMK's collection online</h1>
      </div>
      
      <div class="clear"></div>
      
      	  <h3>Free text search:</h3>
		  <div class="search">
    			<div id="search_free" class="infoRow">					
					<input type="text" id="query_free" name="query_free" autocomplete="off">				
				</div>
		  </div>
		  	
		  <h3>Search after:</h3>
		  <div class="search">			  
			  <div id="search_smk_collection" class="infoRow">
					<span class="searchLabel">Artist name</span>
					<input class="searchValue" type="text" id="query" name="query" autocomplete="off">				
				</div>
			  
			  <div id="search_smk_collection_title" class="infoRow">
					<span class="searchLabel">Title</span>
					<input class="searchValue" type="text" id="query_title" name="query_title" autocomplete="off">				
				</div>
		  </div>
		  <div class="clear"></div>
		  
		  <h3 id="current_sel">Current Selection:</h3>
		  <div id="selection"></div>

		<div class="clear"></div>
    </div>	
	
	<div class="left">         
      
      <h2>Periods</h2>
      <div class="tagcloud" id="object_production_century_earliest"></div>

      <h2>Techniques</h2>
      <div class="tagcloud" id="prod_technique"></div>

      <h2>Countries</h2>
      <div class="tagcloud" id="artist_natio"></div>            

      <div class="clear"></div>
    </div>
	
    <div class="right">    		
		<div id="detail_smk_collection_show"></div>		  
    
		<div id="result_smk_collection">
		   <h1>Results</h1>
			<div id="category"></div>
		   
		   
		  <div id="navigation">
		    <ul id="pager"></ul>
		    <div id="pager-header"></div>         
		    <div id= "switch_smk_collection"></div>                        
		  </div>
		  <ul id="docs_smk_collection" class="explorerList"></ul>
		</div>

    </div>

   
    <div class="clear"></div>

