<div>

<script id="thumbTemplate" type="text/template">

	    {{#thumbnails}}
	    <h3 class="gallery__subworks heading--section">{{{label}}}</h3> 
		<div class="gallery__thumbnails">		  		   
		  <ul>
			{{#thumb}}	  
	        <li src="{{image}}" alt="{{img_id}}&nbsp;-&nbsp;{{#copyright}}{{{copyright}}}&nbsp;-&nbsp;{{/copyright}}{{title}}"" img_id="{{img_id}}" class="image_loading">
	          <a href="#" {{#current}}class = "current"{{/current}}></a>
	        </li>     
			{{/thumb}} 
	      </ul>
	    </div>	  
	  </div><!-- thumbnails -->	  
	  {{/thumbnails}}

</script>

</div>